#microposts

= link_to 'New Micropost', new_micropost_path

:coffeescript
  $ ->
    ms = new BackboneSebone.Collections.MicropostsCollection(#{@microposts.to_json.html_safe})
    ms.each (m) ->
      $("#microposts").append m.get("content") + "<br>"
