#microposts

= link_to 'New Micropost', new_micropost_path

:coffeescript
  $ ->
    ms = new BackboneSebone.Collections.MicropostsCollection(#{@microposts.to_json.html_safe})
    view = new BackboneSebone.Views.Microposts.MicropostView()
    $("#microposts").append(view.render().el)

